body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
    font-size: 28px;
}

h1, h2 {
    font-size: 36px;
}

button {
    padding: 20px 30px;
    font-size: 26px;
    margin-top: 10px;
    cursor: pointer;
}

input, select {
    font-size: 26px;
    padding: 10px;
    width: 90%;
    margin-bottom: 20px;
}
